.container {
  min-height: 100vh;
  padding: 4rem 0.5rem;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.container select,
.container input {
  padding: 4px;
  margin: 4px;
}

.container button {
  padding: 8px;
  margin: 4px;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.error {
  color: red;
  font-size: medium;
  padding: 2px;
  margin-bottom: 4px;
}

.warning {
  color: yellow;
  background-color: gray;
  font-size: medium;
  padding: 2px;
  margin-bottom: 4px;
}

.success {
  color: green;
  font-size: medium;
  padding: 2px;
  margin-bottom: 4px;
}

.welcome {
  color: green;
  padding: 2px;
  margin-bottom: 4px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;

  /*max-width: 800px;*/
  width: 100%;
  margin-top: 1rem;
}

.side-grid {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;

  /*max-width: 800px;*/
  width: 2%;
  margin-top: 1rem;
}

.card {
  /*margin: 1rem;*/
  margin: 0.5rem;
  flex-basis: 20%;
  padding: 1rem;
  /*padding: 1.5rem;*/
  /*text-align: left;*/
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card img {
  width: 200px;
  height: 200px;
}

.card span {
  white-space: nowrap;
}

.card div,
.cart input,
.card select {
  padding: 10px;
  margin: 8px;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.catalog {
  margin: 0.5rem;
  flex-basis: 20%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.catalog div {
  margin: 4px;
  padding: 8px;
}

.catalog button {
  margin: 4px;
  padding: 8px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 1;
  width: 100%;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px #eaeaea solid;
  padding: 16px;
  margin-bottom: 16px;

}

.header button {
  padding: 4px;
  margin: 8px;
}

.header div {
  flex-basis: 20%;
  padding: 4px;
  text-align: center;
}

.cartNumber {
  padding: 2px;
  color: red;
}

.cartItems {
  flex-basis: 70%;
  padding: 1rem;
  text-align: left;
}

.cartPayment {
  margin: 0.5rem;
  flex-basis: 20%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cartPayment button {
  padding: 8px;
  margin: 8px;
}

.cartItemCard {
  margin: 0.5rem;
  flex-basis: 70%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cartItemCard div {
  /*border: 1px solid #eaeaea;*/
  margin: 8px;
}

.cartItemCard img {
  /*width: 200px;*/
  margin: 16px;
}

.addressItem {
  padding: 8px;
  margin: 16px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;

}

.detailCart {
  margin: 0.5rem;
  flex-basis: 20%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.detailCart button {
  margin: 4px;
  padding: 8px;
}

.cartGrid {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin-top: 3rem;
}

.cartItem {
  padding: 4px;
  margin: 4px;
}

.cartItem button,
.cartItem select,
.cartItem input {
  padding: 8px;
  margin: 4px;
}

.pagination button {
  padding: 4px;
  margin: 4px;
  font-size: medium;
}

.currentPage {
  background-color: lightblue;
}

.oldPrice {
  color: #b5b5b5;
  text-decoration: line-through;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: large !important;
  direction: rtl;
}
